  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
  }
  .container{
    background: linear-gradient(45deg, rgb(15, 255, 255), #09dbe2);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator{
    padding: 30px;
    background: linear-gradient(45deg, rgb(0, 217, 255), #03ffd5);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); 
  }
  .calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(4, 226, 255, 0.945),5px 5px 15px rgba(2, 175, 255, 0.925);
    background: transparent;
    font-size:20px;
    cursor: pointer;
    color: white;
    margin: 10px;

  }
  .calculator form input:hover{
     box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); 
    transition: 1.8s;

  }
  form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    

  }
  form .display input{
    flex: 1;
    text-align: right;
    font-size: 45px;
    box-shadow: none;
    background-color: rgb(67, 77, 71);
    border-radius: 10px;

  }
  form input.equal{
    width: 145px; 
  }
  .brand {
    font-size: 36px; 
    font-weight: bold; 
    color: white;
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

